* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: white;
    color: white;
    justify-content: center;
    width: 100%;
}

html, body {
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* HEADEAR */

main {
    width: 100%;
}

.header {
    
    background: rgb(254, 250, 224);
    display: grid;
    grid-template-columns: 90px auto 90px;
    align-items: end;
}


.image-profile {
    margin-bottom: .5em;
    padding-left: 1.5em;
}

h1 {
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    padding: .5em;
    color: rgb(188, 108, 37);
    margin-top: 2rem;
}

/* HAMBURGUER MENU */

/* .navigation-links {
    display: none;
} */

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
}


#menubutton {
	font-size: 2rem;
    background: none;
    cursor: pointer;
    font-family: "Montserrat";
    width: 100%;
    text-align: right;
    font-weight: 300;
	border: 0;
	color: rgb(40, 54, 24);
 	position: absolute;
    top: 2rem;
    right: 1rem;
    padding: .25rem 2vw;
}

#menubutton::before {
	content: "\2630";
}

/* ▼ */

#menubutton.open::before {
	content: "X";
    color: rgb(40, 54, 24);
    font-weight: 600;
}

/* when the button is clicked - the open class is toggled (added/removed) */
/* .navigation-links.open {
	display: block;
} */

nav ul {
    list-style-type: none;
}



nav a.active-menu-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    color: rgb(221, 161, 94);
}

@media (min-width: 640px) {


    #menubutton {
        display: none; /* hide hamburger button */
    }

    ul.navigation-links, ul.navigation-links.open {
        display: flex; /* make the navigation visible */
    }

    nav ul {
        display: flex;
        list-style-type: none;
        width: 500px;
    }
    nav ul li {
        flex: 1 1 100%;
    }

    
}

/* NAVIGATION */

nav {
    font-size: .9rem;
    background-color: rgb(40, 54, 24);
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #DDFCAD;
    font-weight: 500;
    margin: 14px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgb(40, 54, 24);
    color: rgb(221, 161, 94);
}


/* MAIN */

.bento-grid {
    display: block;
    gap: 20px;
    width: 100%;
    margin: 0 auto; /* Center the grid horizontally */
    box-sizing: border-box;
}

.card {
    background-color: white;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #0D1821;
    margin-left: 20px;
}

.link a {
    transition: color 0.2s ease-in-out;
    color: #0D1821;
    text-decoration: none;
}

.link a:hover {
    color: #FF8552;
}


.image {
    margin-left: 20px;
    margin: 20px;
    margin-top: 40px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    background-color: rgb(254, 250, 224);
    color: rgb(188, 108, 37);
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-weight: 800;
}

.card li {
    margin-top: 20px;
    margin: 20px;
    color: #FF8552;
}


.large-card {
    grid-column: span 2;
}

.courses-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 15px;
    background-color: rgb(96, 108, 56);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.filter-btn:hover {
    background-color: rgb(40, 54, 24);
}

.courses {
    display: grid;
    gap: 10px;
}

.course-item.highlight {
    background-color: rgb(188, 108, 37); /* Style for completed courses */
    font-weight: 600;
    color: white;
}

.course-item {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}


/* FOOTER */


footer {
    background-color: rgb(40, 54, 24);
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    color: #FF8552;
}

.highlight {
    color: #DDFCAD;
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
        list-style-type: none;
        width: 500px;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}